<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="#">KT CRUD Demo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/note">Notes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/add">Add Notes</a>
      </li>
     

    </ul>
  </div>
</nav>
<footer class="footer">
  <div class="container">
      <span>All Rights Reserved 2019 1K1T</span>
  </div>
</footer>